**
!Dockerfile
!app/
!app/**
!server/
!server/pom.xml
!server/src/
!server/src/main/
!server/src/main/**
app/node_modules
app/dist
app/.expo
app/.git
app/.env*
app/.local
app/*.log
app/eas.json
app/ios
app/android
server/src/test
